


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Proxima Nova', sans-serif;
    letter-spacing: 1.6px;
    color: rgba(255, 255, 255, 75%);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


body {
    background: #122B12;
}

.h-container {
    width: 90%;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* color: white; */
    font-size: 16px;

}

.logo {
    width: 100px;
    height: 50px;
    background: linear-gradient(317deg, rgba(28, 57, 30, 1) 0%, rgba(5, 11, 5, 0.6843779748227417) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.links {
    width: 30%;
    display: flex;
    justify-content: space-between;

}

.links a {
    color: rgba(255, 255, 255, 75%);
}

.links a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgba(255, 255, 255, 75%);
    transition: 300ms;
}

.links a:hover::after {
    width: 100%;
}

.burg,
.burg img {
    width: 20px;
    opacity: 0.7;
}

.burg {
    display: none;
}

.burg-close,
.burg-close img {
    width: 15px;
    opacity: 0.7;
}

.burg-close {
    display: none;
}

.modal {
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.594);
    transition: 0.5s all ease;
    z-index: 3;
}

.opened {
    opacity: 1;
    visibility: visible;
}

.container {
    width: 50%;
    height: 60%;
    margin: auto;
    background-color: #5c675c;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 25%;
}

.modal-name {
    padding: 5%;
    font-size: 24px;
}

.close-modal {
    width: 20px;
    height: 20px;
    background-color: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    bottom: 80%;
    left: 94%;
}

.cont {
    display: flex;
    align-items: center;
    width: 90%;
    height: 20%;
    padding-left: 2%;
    margin: auto;
    background: rgba(222, 222, 222, 0.285);
    border-radius: 15px;
    transition: 0.3s;
}

.cont1 {
    margin-bottom: 5%;
}

.cont:hover {
    background: rgba(35, 35, 35, 0.285);
}

.social-media {
    width: 40px;
    margin-right: 5%;
}

.copy,
.copy img {
    width: 30px;
}

.cont p {
    width: 50%;
}

.copy {
    position: relative;
    left: 30%;
}

.cont a {
    color: rgba(255, 255, 255, 75%);
    text-decoration: underline;
}

.cont a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgba(255, 255, 255, 75%);
    transition: 300ms;
}

.cont a:hover::after {
    width: 100%;
}

.expirience-onclick {
    width: 500px;
    height: 50px;
    background: rgba(240, 248, 255, 0.386);
    border-radius: 10px;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    left: 30%;
    top: -100px;
    z-index: 1;
    transition: 1s;
}

.expirience-onclick.active {
    left: 30%;
    top: 15%;
    transition: top 1s;
}

.expirience-onclick p {
    margin-left: 20px;
}

.expirience-onclick-button {
    width: 20px;
    background: none;
    color: rgba(255, 255, 255, 0.842);
    border: rgba(255, 255, 255, 0.838) solid 1.5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30px;
}



.contacts {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    width: 15%;
    height: 50px;
    border: rgba(255, 255, 255, 75%) 1px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.contacts:hover {
    background-color: #091509c5;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro-container {
    width: 60%;
    padding: 40px 0 0 0;
}

.hi {
    font-size: 14px;
    margin-bottom: 10px;
}

.name,
.fd {
    font-size: 64px;
}

.line {
    height: 15px;
    width: 100%;
    margin: 10px 0 15px 0;
}

.short-info {
    width: 70%;
}

.intro-pic {
    width: 30%;
    height: 200px;
    border-radius: 20px;
    background: url(me1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
    transition: 0.4s;
}

.intro-pic:hover {
    height: 300px;
}

.aestetics {
    background: url('ties.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    margin: 70px 0 0 0;
    opacity: 0.8;
    position: relative;
    padding: 10px;
}

.aestetics:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all .2s linear;
}

.aestetics:hover::before {
    background: none;
}

.aestetics-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aestetics p {
    position: relative;
    margin: auto;
    font-size: 40px;
}

.about {
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.about-container {
    width: 60%;

}

.about-title {
    width: 100%;
    display: flex;
    align-items: center;

}

.about img {
    height: 15px;
}

.first-line {
    width: 20%;
}

.second-line {
    width: 40%;
}

.about-title p {
    font-size: 24px;
    margin: 0 10px;
}

.info {
    margin: 30px 0 0 60px;
    width: 80%;
}

.my-pic {
    width: 30%;
    height: 250px;
    border-radius: 20px;
    background: url(me2.jpg)no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    transition: 0.4s;

}

.my-skills {
    width: 80%;
    margin: 20px auto 60px auto;
}

.title-skills {
    font-size: 24px;
    margin: 0 0 40px 0;
    text-align: center;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    width: 40%;
    height: 200px;
    background-color: rgba(240, 248, 255, 0.386);
    border-radius: 20px;
    margin: 0 0 40px 0;
    text-align: center;
    transition: 0.4s;
    padding: 0 10px 0px 0;
}

.skill:hover {
    background: rgba(240, 248, 255, 0.176);
}

.skill img {
    width: 60px;
    margin: 20px 0 10px 0;
    transition: 0.3s;
}

.skill img:hover {

    scale: 1.2;


}

.skill p {
    margin: 0 10px 10px 10px;
}

.expirience {
    width: 80%;
    margin: 50px auto;
    display: none;
}

.expirience.act {
    display: block;
}

.title-expirience {
    font-size: 20px;
    margin-bottom: 10px;
}

.my-goals {
    width: 80%;
    margin: auto;
}

.title-goals {
    font-size: 24px;
    margin-bottom: 10px;
}

.title-explanation {
    color: rgba(255, 255, 255, 0.507);
    margin-bottom: 10px;
}

.goal {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.goal img {
    width: 70px;
    margin: 0 20px;
    opacity: 0.7;
}

.goal p {
    width: 97%;
}

.up {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    position: fixed;
    top: 110%;
    background: rgba(91, 91, 91, 0.187);
    color: white;
    left: 95%;
    border: 1px solid rgba(143, 143, 143, 0.5);
    transition: 0.4s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up:hover {
    font-size: 16.5px;
    background-color: rgba(91, 91, 91, 0.084);
}

.up img {
    width: 70%;
    opacity: 0.7;
}

.up-active {
    top: 90%;
}


@media(max-width: 2500px) {
    .container {
        height: 600px;
    }

    .expirience-onclick.active {
        left: 40%;
        top: 100px;
    }

    .expirience-onclick {
        left: 40%;
    }

    .close-modal {
        bottom: 70%;
    }

    .copy {
        left: 35%;
    }

}

@media (max-width:2196px) {
    .close-modal {
        bottom: 73%;
    }

    .container {
        height: 500px;
    }
}

@media(max-width: 2022px) {
    .expirience-onclick.active {
        left: 37%;
    }

    .expirience-onclick {
        left: 37%;
    }

    .copy {
        left: 33%;
    }
}

@media (max-width: 1864px) {
    .container {
        height: 450px;
    }
}

@media (max-width: 1715px) {
    .container {
        height: 400px;
    }

    .expirience-onclick.active {
        left: 35%;
        top: 80px;
    }

    .expirience-onclick {
        left: 35%;
    }
}

@media (max-width: 1566px) {
    .container {
        height: 370px;
    }

    .expirience-onclick.active {
        left: 32%;
    }

    .expirience-onclick {
        left: 32%;
    }

    .copy {
        left: 31%;
    }
}

@media (max-width: 1360px) {
    .container {
        height: 320px;
    }

    .expirience-onclick.active {
        top: 70px;
    }

    .copy {
        left: 30%;
    }

    .up {
        left: 94%;
    }

    .up-active {
        top: 91%;
    }
}

@media (max-width: 1170px) {
    .container {
        height: 300px;
    }

    .expirience-onclick.active {
        left: 27%;
    }

    .expirience-onclick {
        left: 27%;
    }

    .copy {
        left: 28%;
    }

    .my-skills {
        margin-bottom: 40px;
        width: 70%;
    }

    .title-skills {
        text-align: left;
        margin-bottom: 20px;
    }

    .skill-list {
        display: inline;
    }

    .skill {
        width: 90%;
        display: flex;
        height: auto;
        text-align: left;
        align-items: center;
        margin-bottom: 15px;
    }

    .skill img {
        width: 110px;
        /* height: 50px; */
        margin: 10px;
        float: left;
    }

    .skill img:hover {
        scale: 1.1;
    }

    .skill p {
        margin: 5px;
        width: 95%;
    }
}

@media (max-width: 1100px) {
    * {
        font-size: 14px;
    }

    .goal {
        margin-bottom: 20px;
    }

    .intro {
        width: 80%;
        margin: auto;
    }

    .expirience-onclick {
        width: 450px;
        height: 40px;
    }

    .expirience-onclick p {
        margin-left: 10px;
    }

    .expirience-onclick-button {
        left: 40px;
        width: 15px;
    }


}

@media (max-width: 1000px) {
    .links {
        width: 40%;
    }

    .contacts {
        width: 12%;
    }

    .up {
        width: 35px;
        height: 35px;
    }

    .container {
        height: 240px;
    }

    .copy {
        left: 26%;
    }

    .expirience-onclick.active {
        left: 32%;
        top: 80px;
    }

    .expirience-onclick {
        left: 32%;
    }

    .close-modal {
        left: 92%;
    }

    .first-line {
        width: 10%;
    }

    .second-line {
        width: 30%;
    }

    .intro-pic:hover {
        height: 200px;
    }
}

@media (max-width: 900px) {
    .container {
        height: 200px;
    }

    .copy,
    .copy img {
        width: 20px;

    }

    .skill img {
        width: 125px;
    }

    .social-media {
        width: 30px;
    }
}

@media (max-width: 800px) {
    .h-container {
        height: 60px;
    }

    .contacts {
        font-size: 14px;
        width: 80px;
        height: 41px;
    }

    .logo {
        width: 80px;
        height: 40px;
        font-size: 18px;
    }

    .name,
    .fd {
        font-size: 44px;
    }

    .intro-container {
        padding: 20px 0;
    }

    .aestetics {
        height: 150px;
        margin: 30px 0 0 0;
    }

    .aestetics p {
        font-size: 30px;
    }

    .expirience-onclick {
        width: 450px;
        height: 30px;
    }

    .expirience-onclick.active {
        top: 70px;
    }

    .copy {
        left: 28%;
    }

    .social-media {
        width: 30px;
    }

    .about {
        margin: 30px auto;
    }
}

@media (max-width: 700px) {
    .links {
        width: 47%;
    }

    .expirience-onclick {
        width: 300px;
        height: 40px;

    }

    .expirience-onclick.active {
        top: 50px;
    }

    .expirience-onclick-button {
        left: -5px;
        width: 15px;
    }

    .aestetics {
        height: 110px;
        margin: 20px 0 0 0;
    }

    .close-modal {
        bottom: 78%;
    }

    .skill img {
        width: 150px;
    }

    .copy {
        left: 29%;
    }

    .copy,
    .copy img {
        width: 15px;
    }

    .container {
        height: 160px;
    }

    .modal-name {
        padding: 0;
        margin: 4%;
    }

    .social-media {
        width: 25px;
    }
}

@media (max-width: 650px) {
    .links {
        width: 55%;
    }

    .copy {
        left: 25%;
    }

    .line {
        margin: 0;
    }

    .first-line {
        display: none;
    }

    .about {
        width: 85%;
    }

    .info {
        margin: 10px 0 0 15px;
        width: 100%;
    }

    .skill {
        width: 100%;
    }

    .title-skills {
        margin-bottom: 20px;
    }

    .my-skills {
        margin-bottom: 20px;
    }

    .title-explanation {
        margin-bottom: 0px;
    }

    .goal-list {
        margin-top: 10px;
    }

    .goal img {
        margin: 0 10px;
    }

    .container {
        height: 150px;
    }

    .close-modal {
        width: 15px;
    }

    .up {
        left: 93%;
        width: 30px;
        height: 30px;
    }

    .up img {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .second-line {
        width: 80%;
        margin-left: 10px;
    }

    .about-title {
        margin-bottom: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .name,
    .fd {
        font-size: 35px;
    }

    .my-pic {
        width: 35%;
    }
}

@media (max-width: 550px) {
    .copy {
        left: 7%;
    }

    .cont p {
        width: 66%;
    }
}
.short-info {
    width: 100%;
}

@media (max-width: 500px) {
    .h-container {
        width: 100%;
        height: 90px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        background-color: #091509af;
        transition: 0.5s;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: 10px;
        transition: 0.5s;
        display: none;
    }

    .contacts {
        width: 150px;
        height: 25px;
        transition: 0.5s;
        display: none;
    }

    .logo {
        margin-top: 10px;
    }

    .burg {
        display: block;
    }

    .skill {
        display: block;
    }

    .skill img {
        width: 50px;
    }

    .up {
        left: 92%;
    }

}

@media (max-width: 460px) {
    .copy {
        left: 5%;
    }

    .intro {
        display: block;
        margin-bottom: 30px;
    }

    .intro-container {
        width: 100%;
    }

    .intro-pic {
        width: 60%;
    }

    .aestetics {
        display: none;
    }

    .about {
        display: block;
    }

    .about-container {
        width: 100%;
    }

    .my-pic {
        width: 70%;
        margin-top: 20px;
        margin-left: 15px;
    }

    .close-modal {
        bottom: 74%;
        left: 89%;
    }

    .goal img {
        margin: 0 15px;
    }

}

@media (max-width: 430px) {
    .goal {
        display: block;
    }

    .goal img {
        margin: 15px;
        float: left;
        width: 27px;
    }

    .cont p {
        width: 79%;
    }

    .container {
        width: 72%;
        height: 150px;
        top: 30%;
        left: 14%;
    }

    .copy {
        left: -4%;
    }
}
